.shoppingButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkoutMidbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.checkoutMain {
  display: flex;
  justify-content: space-between;
}

.checkoutLeft {
  display: flex;

  .checkoutLeft_child {
    display: flex;
    justify-content: space-between;
    gap: 15vw;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .imagediv {
    object-fit: fill;
    height: 200px;
    width: 200px;
  }
}

.checkout_product_info {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.checkout_product_info_right {
  text-align: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 3rem;
  div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
